name: Build & Push Docker Image

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:
    inputs:
      tag_version:
        description: "Version tag to simulate (e.g., v1.0.0)"
        required: true
        default: "v0.0.0"

jobs:
  call-docker-release:
    uses: OperationsPAI/shared-workflows/.github/workflows/release-docker.yml@main
    with:
      caller: ${{ github.event.repository.name }}
      volces_name: pair/rcabench-frontend
    secrets: inherit
